.container {
	max-width: 600px;
	margin: auto;
	padding: 0 1 rem;
}

h1 {
	margin-top: 1rem;
	text-align: center;
	font-size: 80px;
}

.top {
	margin-top: 3rem;
	margin-bottom: 2rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

input {
	border: none;
	outline: none;
	width: 400px;
	padding: 0.5rem;
	border-bottom: 1px solid #000;
}

.add {
	background-color: #000;
	color: #fff;
	padding: 0.8rem 2rem;
	border-radius: 10px;
	cursor: pointer;
}

.add:hover {
    background-color: orange;
    color: #000;
    border-color: orange;
}

.todo {
	position: relative;
	margin-top: 1rem;
	background-color: orange;
	color: #000;
	padding: 1.5rem 3rem;
	border-radius: 15px;
}
.todo:hover {
    background-color: #000;
    color: #fff;
}
.icons {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	display: flex;
	gap: 0.5rem;
}

.icon {
	cursor: pointer;
	font-size: 20px;
}

.checkbox {
	position: absolute;
	top: 50%;
	right: 375px;
	transform: translateY(-50%);
	display: flex;
	gap: 0.5rem;
}
